.main_layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #ffffff;
    // height: 100vh;
    // width: 100vw;
    overflow: hidden;
    .searchbar {
        // flex: 1;
        // height: 100%;
    }
    .content {
        // flex: 2;
        // height: 100%;
    }
}

.searchbar {
    display: flex;
    flex-direction: row;
    height: 51px;
    // padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
flex : 4 20px;
}
   

table {
    width: 100%;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4d4bc9;
    color: white;
    font-weight: bold;
  }

  td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffffff;
    color: black;
    text-transform: capitalize;
    border-bottom:  0.25px solid grey;
}


.main_layout_table {
    // width: 100%;
    // width: '100vw';
    // display: flex;
    // flex-direction: column;
    // justify-content: space-ar;
}

.pagination-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.pagination-button {
 width: 40px;
 height: 30px;
}
